# core
json_strong_typing >= 0.4.3
typing_extensions >= 4.15; python_version<"3.12"

# certificate stores
truststore >= 0.10

# data export/import
tsv2py >= 0.8

# development tools
build >= 1.5
mypy >= 2.1
ruff >= 0.15

# PostgreSQL
asyncpg >= 0.31
asyncpg-stubs >= 0.31

# Oracle
oracledb >= 4.0

# MySQL
aiomysql >= 0.3
PyMySQL[rsa] >= 1.1
types-PyMySQL >= 1.1

# Microsoft SQL Server
pyodbc >= 5.3
