# core
json_strong_typing >= 0.4.2
typing_extensions >= 4.15; python_version<"3.12"

# certificate stores
certifi >= 2025.11.12; python_version<"3.10"
truststore >= 0.10; python_version>="3.10"

# data export/import
tsv2py >= 0.7

# development tools
build >= 1.3
mypy >= 1.18
ruff >= 0.14

# PostgreSQL
asyncpg >= 0.30
asyncpg-stubs >= 0.30

# Oracle
oracledb >= 3.4

# MySQL
aiomysql >= 0.3
PyMySQL[rsa] >= 1.1
types-PyMySQL >= 1.1

# Microsoft SQL Server
pyodbc >= 5.3

# Snowflake
snowflake-connector-python >= 3.18

# Trino
aiotrino >= 0.3
